################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GildedTros
/GildedTros.App/bin/Debug/net7.0
/GildedTros.App/obj
